<!-- ═══════════════════════════════════════════════════════════════════════
     Commissioned work — 4 client/org engagements. 3-col HTML table with
     explicit colgroup widths so descriptions don't get squeezed.
     ═══════════════════════════════════════════════════════════════════════ -->

## Commissioned work

<table>
  <colgroup>
    <col style="width:72px">
    <col style="width:200px">
    <col>
  </colgroup>
{{#each _commissionedProjects}}  <tr>
    <td>{{#if logo}}<img src="{{logo}}" height="48" alt="{{name}}" title="{{name}}">{{else}}&nbsp;{{/if}}</td>
    <td><strong><a href="{{default url repoUrl}}">{{briefTagline name}}</a></strong>{{#if _affiliationOrg}}<br><sub><a href="{{_affiliationOrg.url}}"><picture><source media="(prefers-color-scheme: dark)" srcset="{{default _affiliationOrg.logoDark _affiliationOrg.logoLight}}"><img src="{{_affiliationOrg.logoLight}}" height="20" alt="{{_affiliationOrg.name}}"></picture> {{_affiliationOrg.name}}</a></sub>{{/if}}</td>
    <td>{{#if narrative.impactHeadline}}<em>{{narrative.impactHeadline}}</em>{{else}}{{briefTagline tagline}}{{/if}}{{#if _featuredStackResolved.length}}<br>{{#each _featuredStackResolved}}<img src="{{src}}" height="18" alt="{{name}}" title="{{name}}"> {{/each}}{{/if}}</td>
  </tr>
{{/each}}</table>

{{#if _moreCommissionedProjects.length}}
<details>
<summary><kbd>&nbsp;More commissioned work&nbsp;</kbd></summary>

<br>

<table>
  <colgroup>
    <col style="width:64px">
    <col style="width:240px">
    <col>
  </colgroup>
{{#each _moreCommissionedProjects}}  <tr>
    <td>{{#if logo}}<img src="{{logo}}" height="36" alt="{{name}}" title="{{name}}">{{else}}&nbsp;{{/if}}</td>
    <td><strong><a href="{{default url repoUrl}}">{{briefTagline name}}</a></strong></td>
    <td>{{briefTagline tagline}}</td>
  </tr>
{{/each}}</table>

</details>
{{/if}}
